@import url(http://fonts.googleapis.com/css?family=Domine);

body {
  margin: 0;
  font-family: 'Domine', serif;
}

.showtitle {
  font-style: italic;
}

header {
  text-align: center;
  padding-bottom: 20px;
}

nav {
  text-align: center;
  margin-top: 1em;
  font-size: 120%;
  color: #777;
  background: #222;
}

nav a {
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  background: #777;
  color: #222;
}

#roles {
  color: rgb(182,48,28);
  font-size: 130%;
}

h1 {
  font-weight: normal;
  font-size: 300%;
  margin-bottom: 0.5em;
}

h1 a {
  text-decoration: none;
}

h2 {
  font-weight: normal;
  font-size: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

a {
  color: inherit;
}

#content {
  max-width: 900px;
  padding: 5px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 16pt;
}

#content a:hover {
  background: #777;
  color: white;
}

.loner {
  margin-top: 3em;
}
